/* Media Queries
/* ----------------------------------- */

@media only screen and (min-width: 1024px) {
	}
	
	@media only screen and (min-width: 1920px) {
		.contentPart{padding-top:250px;}
		.colorBackground::before, .colorBackground::after{top:-250px;}
		.spinnerWrap{margin-top:-50px;}
}
	@media only screen and (max-width: 1920px) {
		.contentPart{padding-top:250px;}
		.colorBackground::before, .colorBackground::after{top:-250px;}
		.spinnerWrap{margin-top:-50px;}
}

	@media only screen and (max-width:1400px) {
.contentPart{padding-top:200px;}
		.colorBackground::before, .colorBackground::after{top:-200px;}
		.spinnerWrap{margin-top:0;}
	}
	
@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1169px) {
	.contentBox p{font-size:24px; line-height:34px;}
	.formHeading h2{font-size:28px;}
	.formHeading p{font-size:20px; line-height:28px;}
	.contentBox a{line-height:18px; font-size:14px;}	
	.whiteBoxContent{padding:40px 50px;}
	.listitem li{line-height:1.5;}
	.listitem li img{max-width:100%; height:auto; margin-left:0 !important;}
	.whiteBoxContent.thankYouPage p{font-size:24px; line-height:34px;}
	.spin{transform:scale(.8);}
	.spinnerWrap .spinBtn{margin-left:150px;}
}
@media only screen and (min-width: 1024px) and (max-width:1170px) {

}
@media only screen and (min-width: 1024px) and (max-width:1170px) {
}
@media only screen and (max-width: 1023px){
	.joinUsFormWrap{padding:25px 15px;}
	.joinUsFormWrap .row > div{flex:0 0 100%; max-width:100%;}
	
	
	}

@media only screen and (max-width: 991px){
	.whiteBoxContent{padding:20px 20px;}
}
@media only screen and (max-width:900px){
}	

@media only screen and (max-width: 767px){
	.logoWrap{text-align:center;}
	.contentBox{margin-right:0;}
	.colorBackground::before, .colorBackground::after{top:0px;}
	.joinUsFormWrap{margin-left:0; margin-bottom:120px;}
	.joinUsFormWrap .row > div{flex:0 0 50%; max-width:50%;}
	.whiteBoxContent h2{font-size:36px; line-height:1.4;}
	.whiteBoxContent  img{margin-left:0 !important;}
	.logoRow .row > div{text-align:center; margin-bottom:10px;}
	.spinnerWrap{margin-left:-50px;}
	.clickHereDownload{margin:0 auto; position:relative; right:0;}
	.spinnerWrap{min-height:auto;}

}
@media only screen and (max-width:639px){
	.spin{transform:scale(.7);}
	.spinnerWrap .spinBtn{margin-left:100px;}
}
@media only screen and (max-width:599px){
	.contentBox p{font-size:20px; line-height:26px;}
	.whiteBoxContent.thankYouPage p{font-size:20px; line-height:26px;}
}
@media only screen and (max-width:576px){
	.spinBtn{display:none;}
}
@media only screen and (max-width:479px){

	}
@media only screen and (max-width:450px){
.joinUsFormWrap .row > div{flex:0 0 100%; max-width:100%;}
}
@media only screen and (max-width:380px){
}
@media only screen and (max-width:350px){
}