body{
	font-family: 'Poppins', sans-serif;
	background: linear-gradient(90deg, rgba(60, 60, 242, 1) 0%, rgba(98, 245, 230, 1) 52%, rgba(60, 60, 242, 1) 100%);
}
b{
	font-weight: bold;
}
.button {
/*		background: #5634d1;*/
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
	/*! font-family: Arial; */
	color: #ffffff;
	font-size: 22px;
	padding: 18px 38px 18px 38px;
	text-decoration: none;
	border: 0;
	box-sizing: border-box;
	display: inline-block;
	text-transform: uppercase;
	border-radius: 10px;
	font-weight: 600;
}

.button:hover {
	/*background: #5634d1;*/
	text-decoration: none;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    color: #fff;
}

.text-center{
	text-align: center;
}

.buttons{
	margin-top: 20px;
	margin-bottom: 15px;
}

.modal-title {
    text-align: left;
    font-size: 23px;
}

.eWheel-wrapper{padding:26px; background:#000604; border-radius:50%; border:5px solid #BD2E32;}